<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385298524193-8bremu8ucbhu3h7jkbl4atk4kkhm5fc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385298524193-8bremu8ucbhu3h7jkbl4atk4kkhm5fc6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>385298524193-hgd8mtdkvmvkjc9ae2s2d5dnrucneq9s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDfXyW_nBvzTELloZvCnskp1-fo0xXghWA</string>
	<key>GCM_SENDER_ID</key>
	<string>385298524193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.ritom.z.z</string>
	<key>PROJECT_ID</key>
	<string>zdotcom</string>
	<key>STORAGE_BUCKET</key>
	<string>zdotcom.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385298524193:ios:4706257fa6ac5b68215b60</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-2032620092700178~3236202307</string>
</dict>
</plist>